[Ll]ibrary/

[Tt]emp/

[Oo]bj/

[Bb]uild/
[Bb]uilds/

[Ll]ogs/

[Uu]ser[Ss]ettings/

[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/Editor/JetBrains*

[Pp]ackages/com.unity.package-manager-ui*

[Pp]rojectSettings/EditorBuildSettings.asset
[Pp]rojectSettings/ProjectVersion.txt